<a href="https://colab.research.google.com/github/kalludevakeerthana/Innomatics-/blob/main/Logic__Building_Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
sentence = "python is easy and python is powerful"

words = sentence.split()
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Unique words count: 5
Unique words: {'powerful', 'is', 'and', 'easy', 'python'}

In [2]:
employees = {"Ravi": 75000, "Anita": 68000, "Kiran": 72000}

highest_employee = ""
highest_salary = 0

for name, salary in employees.items():
    if salary > highest_salary:
        highest_salary = salary
        highest_employee = name

print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

In [3]:
numbers = [45, 22, 89, 10, 66]

max_value = numbers[0]
min_value = numbers[0]
for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [4]:
attendance = ["P", "P", "A", "P", "P"]

present_count = 0

for day in attendance:
    if day == "P":
        present_count += 1

percentage = (present_count / len(attendance)) * 100
print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [5]:
phone = [9876543210, 9123456789, 9876543210]
unique = set(phone)
print("Unique phone numbers:", unique)

Unique phone numbers: {9876543210, 9123456789}

In [6]:
text = "python"
char_count = {}

for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [7]:
num = [10, 20, 30]
num_tuple = tuple(numbers)
print("Tuple:", num_tuple)

Tuple: (45, 22, 89, 10, 66)

In [8]:
employees = {"Tanya": 75000, "Sonia": 68000, "Arti": 72000}
key = "Arti"
if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [9]:
marks = [65, 75, 80, 70]
total = 0
for mark in marks:
    total += mark
avg = total / len(marks)
print("Average Marks:", avg)

Average Marks: 72.5